body {
    color: #fff;
    text-align: center;
    font-family: monospace;
    background: #dbdbff;
    background-color: #000;
}

h1 {
    font-size: 38px;
    font-weight: 800;
}

h2 {
    font-size: 26px;
}

h2, h3 {
    margin: 0;
}
